@use '@shared/styles/vars.scss' as *;

@forward './reset.scss';
@forward '@shared/assets/fonts/fonts.scss';

body {
  overflow-x: hidden;
  background: $background-color;
  color: $text-color;
  font-family: $font-family-base;
}
