@use '@shared/styles/vars.scss' as *;

.dropdown {
  display: inline-block;
  position: relative;
  background-color: $background-color-base;
  color: $heading-color;
  font-size: 18px;
  line-height: 28px;
}

.header {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.profileIcon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  width: 100%;
  margin-top: 15px;
  border-radius: 0 0 5px 5px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

  ::before {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 20px solid whitesmoke;
    border-left: 30px solid transparent;
  }
}

.menuItem {
  display: block;
  padding: 8px 16px;
  color: $text-color;
  font-size: 14px;
  text-decoration: none;

  &:not(:last-of-type) {
    border-bottom: 1px solid $text-color;
  }
}
