@use '@shared/styles/vars.scss' as *;

.prompt {
  align-self: center;
  margin-top: -13px;
  color: $auth-form-secondary-color;
  font-size: 12px;
  line-height: 20px;

  &-link {
    color: $info-color;
  }
}
