@use '@shared/styles/vars.scss' as *;

.overlay {
  display: flex;
  position: absolute;
  z-index: 1000;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: $font-family-accent;
}

.content {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 12px 16px;
  transform: scale(0.8) translateX(-50px);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  border-radius: 4px;
  opacity: 0;
  background: $background-color-base;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  color: $primary-text-body;
  gap: 12px;

  &-visible {
    transform: scale(1) translateX(0);
    transition: 0.3s ease-in-out;
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid rgb(255 255 255 / 50%);
    border-bottom: 6px solid transparent;
    filter: drop-shadow(0 2px 8px rgb(0 0 0 / 15%));
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.close {
  margin-top: -3px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 22px;
  font-size: 14px;
  line-height: 22px;

  &::before {
    content: '!';
    display: flex;
    position: absolute;
    top: 4px;
    left: -22px;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    padding: 2px;
    border-radius: 50px;
    background-color: $calendula-color;
    color: $background-color-base;
    font-size: 10px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.confirm {
  padding: 1px 8px;
  border: none;
  border-radius: 4px;
  background-color: $info-color;
  color: $background-color-base;
  cursor: pointer;
}

.cancel {
  padding: 1px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: $border-color;
  color: $primary-text-body;
  cursor: pointer;
}
