@use '@shared/styles/vars.scss' as *;

.form-field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.input {
  padding: 8px 12px;
  border-radius: 4px;
  outline: 1px solid $auth-form-input-border-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &::placeholder {
    color: $auth-form-secondary-color;
  }

  &:focus {
    outline: 1px solid $auth-form-input-border-color;
    color: $text-color;
  }

  &:hover {
    outline: 1px solid $auth-form-input-border-color;
    color: $text-color;
  }
}

.error {
  color: $highlight-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.tags {
  align-self: flex-start;
  width: 300px;
}
