@use '@shared/styles/vars.scss' as *;

.article {
  background-color: $background-color-base;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 20px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &-header {
    display: grid;
    grid-template-areas:
      'title info'
      'tags info'
      'desc desc';
    column-gap: 85px;
    margin-bottom: 25px;
    min-height: 100px;
    grid-template-rows: 32px 36px auto;
    &--preview {
      min-height: 100px;
      grid-template-rows: 32px 24px auto;
    }
  }
  &-title {
    grid-area: title;
    color: $info-color;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
    flex-shrink: 1;
    display: flex;
    column-gap: 13px;
    align-items: center;
    &-link {
      height: 28px;
    }
  }
  &-tags {
    grid-area: tags;
    color: $text-color-secondary;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    align-self: flex-start;
    &--preview {
      margin-bottom: 4px;
    }
  }
  &-tag {
    font-size: 12px;
    border: 1px solid;
    border-color: $text-color-secondary;
    padding: 3px 6px;
    border-radius: 2px;
    line-height: 15px;
  }
  &-info {
    grid-area: info;
    display: grid;
    grid-template-areas:
      'username avatar'
      'datatime avatar';
    grid-template-rows: 28px 22px;
    grid-template-columns: auto 58px;
    justify-self: flex-end;
    &-author {
      grid-area: username;
      color: $heading-color;
      font-size: 18px;
      line-height: 28px;

      &-avatar {
        grid-area: avatar;
        justify-self: flex-end;

        width: 46px;
        height: 46px;
        border-radius: 50px;
      }
    }
    &-datatime {
      grid-area: datatime;
      color: $text-color-secondary;
      font-size: 12px;
      justify-self: flex-end;
      line-height: 22px;
    }
  }
  &-short-desc {
    grid-area: desc;
    font-size: 12px;
    line-height: 22px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    gap: 71px;
    &-btn {
      display: flex;
      gap: 8px;
      position: relative;
      align-self: flex-start;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  &-desc {
    font-size: 20px;
    line-height: 28px;
  }
}
