@use '@shared/styles/vars.scss' as *;

.button {
  padding: 8px 0;
  border-radius: 6px;
  background-color: $submit-button-background-color;
  color: $submit-button-color;
  font-size: 16px;
  line-height: 24px;
}

.disabled {
  background-color: $disabled-color;
}

.send {
  align-self: flex-start;
  padding: 8px 142px;
}
