@use '@shared/styles/vars.scss' as *;

.article {
  display: flex;
  position: relative;
  width: 65%;
  height: 80vh;
  margin-bottom: 64px;
  overflow-y: auto;
}

.skeleton {
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 15px 15px 0 20px;
  overflow: hidden auto;
  background-color: $background-color-base;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%); // Цвет фона для скелетона
  display: flex;display
}
