@use '@shared/styles/vars.scss' as *;

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 32px;
  background-color: $background-color-base;
  font-family: $font-family-accent;
  color: $auth-form-color;
  border-radius: 6px;
  box-shadow:
    0 0.61px 2.93px 0 rgba(0, 0, 0, 0.02),
    0 1.46px 7.05px 0 rgba(0, 0, 0, 0.03),
    0 2.75px 13.27px 0 rgba(0, 0, 0, 0.04),
    0 4.91px 23.68px 0 rgba(0, 0, 0, 0.04),
    0 9.19px 44.28px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgb(217, 217, 217);
  gap: 21px;
  &-fieldset {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  &-legend {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  &-tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: start;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }
  &-tag {
    display: flex;
    align-items: flex-start;
    gap: 17px;
  }
}
