@use '@shared/styles/vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 32px;
  border: 1px solid rgb(217 217 217);
  border-radius: 6px;
  background-color: $background-color-base;
  box-shadow:
    0 0.61px 2.93px 0 rgb(0 0 0 / 2%),
    0 1.46px 7.05px 0 rgb(0 0 0 / 3%),
    0 2.75px 13.27px 0 rgb(0 0 0 / 4%),
    0 4.91px 23.68px 0 rgb(0 0 0 / 4%),
    0 9.19px 44.28px 0 rgb(0 0 0 / 5%),
    0 22px 106px 0 rgb(0 0 0 / 7%);
  color: $auth-form-color;
  font-family: $font-family-accent;
  gap: 21px;

  &-fieldset {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &-legend {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }

  &-tags {
    display: flex;
    flex-direction: column;
    align-self: start;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    gap: 5px;
  }

  &-tag {
    display: flex;
    align-items: flex-start;
    gap: 17px;
  }
}
