@use '@shared/styles/vars.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 32px;
  background-color: $background-color-base;
  width: 400px;
  font-family: $font-family-accent;
  color: $auth-form-color;
  border-radius: 6px;
  box-shadow:
    0 0.61px 2.93px 0 rgba(0, 0, 0, 0.02),
    0 1.46px 7.05px 0 rgba(0, 0, 0, 0.03),
    0 2.75px 13.27px 0 rgba(0, 0, 0, 0.04),
    0 4.91px 23.68px 0 rgba(0, 0, 0, 0.04),
    0 9.19px 44.28px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid rgb(217, 217, 217);
  gap: 21px;
  &-fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &-legend {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  &-privacy-policy {
    display: flex;
    align-content: flex-start;
    gap: 8px;
    border-top-color: $auth-form-divider-color;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 10px;
    &-checkbox {
      margin: 3px 0px;
      width: 16px;
      height: 16px;
      color: $checkbox-color;
      cursor: pointer;
    }
    &-text {
      color: $auth-form-privacy-policy-color;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
