$background-color: rgb(235, 238, 243);
$background-color-accent: #1890ff;
$background-color-base: #fff;

$font-family-base: 'Inter', sans-serif;
$font-family-accent: 'Roboto', sans-serif;

$text-color: rgb(0 0 0 / 75%);
$text-color-secondary: rgb(0 0 0 / 50%);
$heading-color: rgb(0 0 0 / 85%);

$auth-form-color: #262626;
$auth-form-secondary-color: #8c8c8c;
$auth-form-privacy-policy-color: #595959;
$auth-form-divider-color: #e8e8e8;
$auth-form-input-border-color: #d9d9d9;

$checkbox-color: #1890ff;
$success-color: #52c41a;
$info-color: #1890ff;
$highlight-color: #f5222d;
$disabled-color: rgb(0 0 0 / 35%);
$error-color: #f5222d;

$submit-button-background-color: rgb(24, 144, 255);
$submit-button-color: #ffffff;

$text-accent-color: #2196f3;
$button-active-color: #2196f3;

$button-color-hover: #fddde6;
$button-color-icon-hover: #cf3476;

$transition-duration: 0.2s;
