@use '@shared/styles/vars.scss' as *;

.button {
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
}

.create {
  padding: 6px 10px;
  border: 1px solid $success-color;
  color: $success-color;
}

.edit {
  padding: 6px 19px;
  border: 1px solid $success-color;
  color: $success-color;
}

.delete {
  padding: 6px 17px;
  border: 1px solid $error-color;
  color: $error-color;
}

.edit-article {
  padding: 6px 19px;
  border-width: 1px;
  border-style: solid;
  border-color: $success-color;
  color: $success-color;
  font-size: 14px;
  line-height: 22px;
}
