@use '@shared/styles/vars.scss' as *;

.button {
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
}
.create {
  padding: 6px 10px;
  color: $success-color;
  border: 1px solid $success-color;
}
.edit {
  padding: 6px 19px;
  border: 1px solid $success-color;
  color: $success-color;
}
.delete {
  padding: 6px 17px;
  border: 1px solid $error-color;
  color: $error-color;
}
