@use '@shared/styles/vars.scss' as *;

.auth-button {
  padding: 6px 19px;
  color: $heading-color;

  &-active {
    padding: 6px 19px;
    border: 1px solid $success-color;
    border-radius: 5px;
    color: $success-color;
  }
}
