@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('./Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('./Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}
