@use '@shared/styles/vars.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 15px;
  background-color: $background-color-base;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  gap: 27px;

  &-title {
    margin-right: auto;
    padding: 14px 0;
    color: $heading-color;
    text-align: left;
  }
}

.link-sign-in {
  margin-right: -7px;
  padding: 6px 19px;
  color: $heading-color;
}

.link-sign-up {
  padding: 6px 19px;
  border: 1px solid $success-color;
  border-radius: 5px;
  color: $success-color;
}
