@use '@shared/styles/vars.scss' as *;

.favorite-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  color: $text-color;
  font-size: 12px;
  line-height: 22px;
  gap: 5px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  &-heart {
    width: 16px;
    height: 16px;
    transition-property: fill;
    fill: red;
  }
}
