@use '@shared/styles/vars.scss' as *;

.form-field {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.textarea {
  resize: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  outline: 1px solid $auth-form-input-border-color;
  padding: 8px 12px;

  &::placeholder {
    color: $auth-form-secondary-color;
  }
  &:focus {
    outline: 1px solid $auth-form-input-border-color;
    color: $text-color;
  }
  &:hover {
    outline: 1px solid $auth-form-input-border-color;
    color: $text-color;
  }
}

.error {
  color: $highlight-color;
  font-size: 14px;
  line-height: 22px;
}
